ops >= 2.15
cosl>=0.0.24

# Charm relation interfaces
pydantic>=2

# lib/charms/tempo_k8s/v1/charm_tracing.py
opentelemetry-exporter-otlp-proto-http==1.21.0

lightkube>=0.15.4
lightkube-models==1.24.1.4